.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section2 {
  padding-bottom: 0;
}

.inputSize {
  margin-right: 10px;
}